* {
  margin: 0;
  padding: 0;
}
.bridge {
  background-color: #1B1C22;
  color: #ffffff;
  position: absolute;
  color: white;
  font-family: ArialMT;
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
}
.bridge #m-nav #navigation {
  position: fixed;
  float: top;
  height: calc(50 * 100vh/812);
  background: #0D0E0F;
  box-shadow: 0 calc(5 * 100vh/812) calc(8 * 100vh/812) rgba(43, 43, 46, 0.75);
  width: 100%;
  z-index: 888;
  display: inline;
  font-family: ArialMT;
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: white;
}
.bridge #m-nav #navigation #menu-button {
  width: calc(24 * 100vh/812);
  height: calc(16 * 100vh/812);
  margin: calc(17 * 100vh/812) 0 0 calc(10 * 100vh/812);
  float: left;
}
.bridge #m-nav #navigation #menu-button .line {
  width: calc(24 * 100vh/812);
  border-top: calc(2 * 100vh/812) solid #569BDA;
  margin-bottom: calc(5 * 100vh/812);
}
.bridge #m-nav #navigation .logo_deri {
  margin: calc(8 * 100vh/812) 0 0 calc((100vw - 72 * 0.12315271vh) / 2 - 28 * 100vh/812);
  height: calc(42 * 100vh/812);
  float: left;
}
.bridge #m-nav #navigation .logo_deri .logo_svg {
  float: left;
  width: calc(30 * 100vh/812);
  vertical-align: top;
}
.bridge #m-nav #navigation .logo_deri .DERI_svg {
  float: left;
  width: calc(30 * 100vh/812);
  vertical-align: top;
}
.bridge #m-nav #menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  float: top;
  z-index: 900;
}
.bridge #m-nav #menu #menu_top {
  float: top;
  height: calc(50 * 100vh/812);
  background: #0D0E0F;
  box-shadow: 0 calc(5 * 100vw/375) calc(8 * 100vh/812) rgba(43, 43, 46, 0.75);
  width: 100%;
}
.bridge #m-nav #menu #menu_top .logo_deri {
  margin: calc(8 * 100vh/812) 0 calc(8 * 100vh/812) calc((100% - 60 * 0.12315271vh) / 2);
  float: left;
}
.bridge #m-nav #menu #menu_top .logo_deri .logo_svg {
  float: left;
  width: calc(30 * 100vh/812);
  vertical-align: top;
}
.bridge #m-nav #menu #menu_top .logo_deri .DERI_svg {
  float: left;
  width: calc(30 * 100vh/812);
  vertical-align: top;
}
.bridge #m-nav #menu #menu_top #X {
  color: #569BDA;
  margin: calc(15.81 * 100vh/812) calc(10 * 100vh/812) calc(15.81 * 100vh/812) 0;
  width: calc(18.38 * 100vh/812);
  height: calc(18.38 * 100vh/812);
  font-size: calc(30 * 100vh/812);
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bridge #m-nav #menu #menu_top #X #close {
  width: 100%;
  height: 100%;
}
.bridge #m-nav #menu #menus {
  height: calc(100vh - 150 * 100vh/812);
  font-size: calc(30 * 100vh/812);
  font-family: Tachyon;
  list-style: none;
  background-color: #000000;
  padding-top: calc(37 * 100vh/812);
}
.bridge #m-nav #menu #menus ul {
  margin-bottom: 0;
  color: #569BDA;
}
.bridge #m-nav #menu #menus ul li {
  height: calc(51 * 100vh/812);
  line-height: calc(51 * 100vh/812);
}
.bridge #m-nav #menu #menus ul li a {
  color: #569BDA;
  padding-left: calc(27 * 100vw/375);
}
.bridge #m-nav #menu #menus ul .light {
  background-color: #111111;
}
.bridge #m-nav #menu #menus .m_light {
  background-color: #111111;
  color: #569BDA;
}
.bridge #m-nav #menu #menus .m_dark {
  color: #569BDA;
}
.bridge #m-nav #menu #menus .m__light {
  color: white;
}
.bridge #m-nav #menu #menus .m__dark {
  color: #cccccc;
}
.bridge #m-nav #menu #docs_index_outer #docs_index {
  list-style: none;
}
.bridge #m-nav #menu #docs_index_outer #docs_index li {
  height: calc(30 * 100vh/812);
  line-height: calc(30 * 100vh/812);
}
.bridge #m-nav #menu #docs_index_outer #docs_index li a {
  color: #cccccc;
  font-size: calc(20 * 100vh/812);
  font-family: Tachyon;
  font-weight: 300;
  padding-left: calc(47 * 100vw/375);
}
.bridge #m-nav #dropdown {
  width: calc(12.73 * 100vh/812);
  height: calc(8.49 * 100vh/812);
}
.bridge #m-nav #copyright_shadow {
  position: absolute;
  top: calc(100vh - 100 * 100vh/812);
  height: calc(100 * 100vh/812);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 910;
  pointer-events: none;
}
.bridge .container-fluid {
  padding: 0 calc(10 * 100vw/375);
}
.bridge .container-fluid .DIP1 {
  margin-top: calc(50 * 100vh/812);
  padding-top: calc(10 * 100vh/812);
}
.bridge .container-fluid .flex {
  display: flex;
  width: calc(100vw - 20 * 100vw/375);
  justify-content: center;
  margin: 0 auto;
  margin-top: calc(10 * 100vh/812);
  align-items: center;
}
.bridge .container-fluid .radio {
  width: calc(100vw - 20 * 100vw/375);
  margin: 0 auto;
  margin-top: calc(30 * 100vh/812);
}
.bridge .container-fluid .radio #vote {
  background-image: linear-gradient(90deg, #09d3af 0%, #09b8c2 18%, #0965ff 100%);
  border-radius: calc(24 * 100vh/812);
  height: calc(38 * 100vh/812);
  border: 0;
  color: #fff;
  width: calc(200 * 100vh/812);
  font-weight: 500;
}
.bridge .container-fluid .radio .fle {
  display: flex;
}
.bridge .container-fluid .radio .rad {
  width: 40px;
}
.bridge .container-fluid .radio .prele_eth,
.bridge .container-fluid .radio .prele_bsc,
.bridge .container-fluid .radio .prele_heco {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
.bridge .container-fluid .radio .prele_eth .pre_eth,
.bridge .container-fluid .radio .prele_bsc .pre_eth,
.bridge .container-fluid .radio .prele_heco .pre_eth {
  width: 21vw;
  height: 20px;
  display: inline-block;
  background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
}
.bridge .container-fluid .radio .prele_eth .pre_bsc,
.bridge .container-fluid .radio .prele_bsc .pre_bsc,
.bridge .container-fluid .radio .prele_heco .pre_bsc {
  width: 46vw;
  height: 20px;
  display: inline-block;
  background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
}
.bridge .container-fluid .radio .prele_eth .pre_heco,
.bridge .container-fluid .radio .prele_bsc .pre_heco,
.bridge .container-fluid .radio .prele_heco .pre_heco {
  width: 0;
  height: 20px;
  display: inline-block;
  background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
}
.bridge #m-Wallet {
  position: fixed;
  bottom: 0;
  background-color: #1B1C22;
  height: calc(58 * 100vh/812);
  width: 100%;
  z-index: 887;
  box-shadow: 0 -0.08rem 0.106667rem rgba(0, 0, 0, 0.2);
}
.bridge #m-Wallet .connect {
  height: calc(54 * 100vh/812);
  font-size: calc(16 * 100vh/812);
  font-weight: 300;
  margin: calc(5 * 100vh/812) calc(25 * 100vh/812);
  display: inline;
  float: right;
}
.bridge #m-Wallet .connect #adderssbtn {
  position: relative;
  display: none;
}
.bridge #m-Wallet .connect .network_text_logo {
  position: relative;
  display: inline;
  margin-right: calc(13 * 100vh/812);
}
.bridge #m-Wallet .connect .network_text_logo .logo_text {
  position: relative;
  margin-left: 16px;
  display: inline;
  color: #cccccc;
}
.bridge #m-Wallet .connect .network_text_logo i {
  position: relative;
  width: calc(40 * 100vh/812);
  height: calc(40 * 100vh/812);
  display: inline;
}
.bridge #m-Wallet .connect .network_text_logo .ETH {
  position: relative;
  background-image: url('../img/logo-ethereum.png');
  background-position: calc(15 * 100vh/812);
  background-repeat: no-repeat;
}
.bridge #m-Wallet .connect .network_text_logo .BNB {
  position: relative;
  background-image: url('../img/logo-bsc.png');
  background-repeat: no-repeat;
}
.bridge #m-Wallet .connect .network_text_logo .HT {
  position: relative;
  background-image: url('../img/logo-heco.png');
  background-position: calc(15 * 100vh/812);
  background-repeat: no-repeat;
}
.bridge #m-Wallet .connect button {
  height: calc(48 * 100vh/812);
  padding-left: calc(14 * 100vh/812);
  padding-right: calc(14 * 100vh/812);
  color: #FFFFFF;
  background-color: #1B1C22;
  font-weight: 300;
  line-height: calc(33 * 100vh/812);
  letter-spacing: calc(-0.5 * 100vh/812);
  background-image: url('../img/connect_bg.png');
  background-size: 100% 100%;
  outline: 0 none !important;
  border: 0;
  display: inline;
  overflow-x: hidden;
  white-space: nowrap;
}
.bridge #m-Wallet .connect button .address {
  position: relative;
  color: #569BDA;
  margin-left: calc(5 * 100vh/812);
}
.bridge #m-Wallet .connect .nav_btn {
  position: relative;
  width: calc(220 * 100vh/812);
  text-align: center;
}
.bridge #m-Wallet .connect .connect_btn {
  position: relative;
  width: calc(220 * 100vh/812);
  text-align: center;
}
.bridge #m-Wallet .connect #noNetwork {
  position: relative;
  color: #E35061;
  display: none;
}
.m-copyright {
  padding: 0;
  height: calc(158 * 100vh/812);
  width: 100%;
  font-family: ArialMT;
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: white;
}
.m-copyright .line {
  width: 100%;
  border-top: calc(1 * 100vh/812) solid #707070;
  height: 0;
}
.m-copyright .copyright_center {
  padding: calc(21 * 100vh/812) calc(21 * 100vh/812) 0 calc(21 * 100vh/812);
  height: calc(100 * 100vh/812);
  width: 100vw;
  background-color: #25282B;
}
.m-copyright .copyright_center .circles .circle,
.m-copyright .copyright_center .circles .circle-no-margin {
  float: left;
  width: calc(30 * 100vh/812);
  height: calc(30 * 100vh/812);
  border-radius: calc(15 * 100vh/812);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-copyright .copyright_center .circles .circle .fa,
.m-copyright .copyright_center .circles .circle-no-margin .fa {
  position: relative;
  color: #2f2f2f;
  font-size: calc(20 * 100vh/812);
}
.m-copyright .copyright_center .circles .circle {
  margin-right: calc(36 * 100vh/812);
}
.m-copyright .line2 {
  clear: left;
  color: white;
  padding-top: calc(15 * 100vh/812);
  font-size: calc(20 * 100vh/812);
  line-height: calc(30 * 100vh/812);
  font-weight: normal;
}
.H2 {
  font-family: Tachyon;
  font-weight: 300;
  color: #D4E05C;
  font-size: 32px;
  letter-spacing: 2px;
}
/*# sourceMappingURL=m.governance.css.map */